#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  font-family: "IBM-Regular";
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

header {
  height: 100px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.container img {
  height: 75px;
}

.firstsection {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 20px;
}

.firstsection img {
  width: 350px;
  height: 100%;
  border-radius: 15px;
}

.firstsection h1 {
  margin-top: 0.6rem;
  margin-bottom: 2rem;
  font-family: "IBM-Bold";
  font-size: 32px;
}

.firstsection p {
  color: #868a8a;
  font-family: "IBM-Regular";
  font-size: 19px;
  line-height: 29px;
}

.secondsection {
  background-color: #f3f5f5;
}

.secondsection h2 {
  font-size: 24px;
  font-family: "IBM-Bold";
  margin: 25px 0;
}

#aside {
  margin-top: 80px;
  width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 15px;
}

div.tower {
  width: calc(100% - 250px);
}

div.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

div.meal {
  padding: 15px;
  width: calc(50% - 20px);
  background-color: white;
  height: 160px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

p.mealname {
  font-family: "IBM-Regular";
  font-size: 18px;
  margin-bottom: 10px;
}

p.mealdescription {
  height: 63px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 21px;
  color: #808484;
  margin-bottom: 20px;
}

p.price {
  font-size: 18px;
  color: #808484;
}

div.meal img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 10px;
}
